
.car-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Space between cards */
  }


.car-card {
    display: flex;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: visible;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .car-image {
    width: 70%;
    height: auto;

  }
  .top-round {
    width: fit-content;
    padding: 0px 10px;
    border-radius: 18px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Drop shadow */
}

  .car-image img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

  }
  
  .car-details {
   padding-left: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
    width: 50%;
  }
  
  .card-rating {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .card-rating .fa-star {
    color: #28a745; /* Green star */
    margin-right: 5px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .card-specs {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .card-specs p {
    display: flex;
    align-items: center;
  }
  
  .card-specs i {
    margin-right: 5px;
  }
  
  .card-price-dropdown {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
  }
  
  .card-price-dropdown p {
    margin-right: 5px;
  }
  
  .card-price-dropdown h6 {
    font-size: 24px;
    color: #333;
  }
  
  .card-button {
    margin-top: 10px;
    
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  


  .card-price-dropdown {
    margin-top: 15px;
    position: relative;
  }
  
  
  .view-price-button {
    background-color: #3498db;
    color: white;
    padding: 2px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  
  .view-price-button:hover {
    background-color: #2980b9;
  }
  


  .arrow {
    margin-left: 5px;
    transition: transform 0.3s ease;
  }
  
  .arrow.up {
    transform: rotate(180deg);
  }
  
  .price-dropdown {
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    text-align: left;
    position: absolute;
    top: 20px;
    z-index: 10;
  }

  .card-icons {
    padding-bottom: 10px;
  }
  
  .price-option {
    font-size: 0.9rem;
    color: #333;
    margin: 3px 0;
  }
  
  .price-option strong {
    color: #3498db;
  }
  
  

  
  @media (max-width: 998px) {
    .car-list-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns */
        gap: 20px; /* Space between cards */
      }
      .car-card {
        display: flex;
        flex-direction: column;
      }
      .car-image {
        width: 100%;
        height: auto;
      }
      
      .car-details {
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
         width: 100%;
       }

  }
  
  @media (max-width: 458px) {
    .car-list-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Two columns */
        gap: 20px; /* Space between cards */
      }
    }